@model IQueryable<rf222cz_1_2_aventyrliga_kontakter.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Add Contact", "Create")
</p>
@if (Model != null && Model.Any())
{
    <table>

        <tr>

            <th></th>

            <th>

                Firstname

            </th>

            <th>

                Lastname

            </th>

            <th>

                EmailAddress

            </th>

        </tr>


        @foreach (var item in Model)
        {
            <tr>

                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.ContactID })

                    @Html.ActionLink("Delete", "Delete", new { id = item.ContactID })

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.FirstName)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.LastName)
                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.EmailAddress)

                </td>

            </tr>
        }

    </table>



}

